:root {
  --page-header-height: 80px;
  --text-color: #343434;
  --text-color-content: #7e7e7e;
  --bg-color:#f7f7f7;
  --bg-color-hover:#f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

html {
  background: var(--bg-color);
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--page-header-height);
  box-shadow: 0 0 16px #0002;
}

.page-header .wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.page-title {
  font-weight: 900;
  font-style: italic;
}

.page-menus,
.page-menus ul,
.page-menus ul li,
.page-menus ul li a {
  height: 100%;
}

.page-menus ul {
  display: flex;
  list-style: none;
}

.page-menus ul li a {
  padding: 0 12px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.page-menus ul li a:hover {
  background: var(--bg-color-hover);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1192px;
  padding: 0 24px;
}

main {
  min-height: 100vh;
  padding: 48px 24px;
  padding-top: calc(var(--page-header-height) + 48px);
}

.content-description {
  max-width: 800px;
}
section {
  margin-top: 24px;
  padding: 24px;
  background: white;
  border-radius: 12px;
}

.section-title {
  letter-spacing: 2px;
  color: var(--text-color-content)  ;
}

.text {
  margin-top: 24px;
  color: var(--text-color-content);
}

.video-with-description {
  margin-top: 24px;
  display: flex;
}

.youtube-video {
  width: 60%;
  height: 360px;
  overflow: hidden;
  border-radius: 12px;
}

.youtube-video iframe {
  width: 100%;
  height: 100%;
}

.video-description {
  margin-left: 24px;
  width: 40%;
}

.background-text {
  position: relative;
  overflow: hidden;
}
.background-text * {
  z-index: 1;
}

.background-text::before{
  position: absolute;
  display: block;
  right: -120px;
  bottom: -40px;
  font-size: 56px;
  line-height: 56px;
  z-index: 0;
  font-weight: 900;
  color: var(--bg-color);
  max-width: 560px;
  transform: rotate(-30deg);
  content: "THIS IS BEATBOX THIS IS BEATBOX THIS IS BEATBOX THIS IS BEATBOX THIS IS BEATBOX";
}