:root {
  --page-header-height: 80px;
  --text-color: #343434;
  --text-color-content: #7e7e7e;
  --bg-color:#f7f7f7;
  --bg-color-hover:#f0f0f0;
  --white: white;
  --light-gray: #d9d9d9;
  --space-sm: 12px;
  --space: 24px;
  --space-lg: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

html {
  background: var(--bg-color);
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--page-header-height);
  box-shadow: 0 0 16px #0002;
  background: var(--bg-color);
  z-index: 10;
}

.page-header .wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.page-title {
  font-weight: 900;
  font-style: italic;
}

.page-menus,
.page-menus ul,
.page-menus ul li,
.page-menus ul li a {
  height: 100%;
}

.page-menus ul {
  display: flex;
  list-style: none;
}

.page-menus ul li a {
  padding: 0 var(--space-sm);
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.page-menus ul li a:hover {
  background: var(--bg-color-hover);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1192px;
  padding: 0 var(--space);
}

main {
  min-height: 100vh;
  padding: var(--space-lg) 0;
  padding-top: calc(var(--page-header-height) + var(--space-lg));
}

.content-description {
  max-width: 800px;
}
section.content {
  margin-top: var(--space);
  padding: var(--space);
  background: var(--white);
  border-radius: var(--space-sm);
}

.section-title {
  letter-spacing: 2px;
  color: var(--text-color-content);
}

.text {
  margin-top: var(--space);
  color: var(--text-color-content);
}

.video-with-description {
  margin-top: var(--space);
  display: flex;
}

.youtube-video {
  width: 60%;
  height: 360px;
  overflow: hidden;
  border-radius: var(--space-sm);
}

.youtube-video iframe {
  width: 100%;
  height: 100%;
}

.video-description {
  margin-left: var(--space);
  width: 40%;
}

.video-description h4 {
  font-size: var(--space);
}

.background-text {
  position: relative;
  overflow: hidden;
}
.background-text * {
  z-index: 1;
}

.background-text::before{
  position: absolute;
  display: block;
  right: -120px;
  bottom: -40px;
  font-size: 56px;
  line-height: 56px;
  z-index: 0;
  font-weight: 900;
  color: var(--bg-color);
  max-width: 560px;
  transform: rotate(-30deg);
  content: "THIS IS BEATBOX THIS IS BEATBOX THIS IS BEATBOX THIS IS BEATBOX THIS IS BEATBOX";
}

.beatbox-categories {
  margin-top: var(--space);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--space);
}

.beatbox-category-card {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: var(--space-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}

.beatbox-category-card .info {
  position: absolute;
  z-index: 1;
  padding: var(--space);
}

.beatbox-category-card .info p.label {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
}

.beatbox-category-card .info span.beatbox-category-solo {
  color: var(--light-gray);
  display: block;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
  padding-top: 0;
  text-shadow: #000 1px 0 10px;
}

.beatbox-category-card:hover .info span.beatbox-category-solo {
  max-height: 200px;
  opacity: 1;
  padding-top: var(--space-sm);
}

.beatbox-category-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: grayscale(1) brightness(0.7);
  display: block;
}

footer {
  background: var(--white);
  padding: var(--space-lg) 0;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
}

footer p.title {
  font-size: 18px;
  font-weight: bold;
}

footer .links ul {
  margin-top: var(--space);
  list-style: none;
}

footer .links ul a {
  display: flex;
  align-items: center;
  font-weight: bold;
}

footer .links ul a:hover {
  color: var(--text-color-content);
  transition: 0.2s;
}

footer .links ul a svg {
  margin-right: var(--space-sm);
}

footer .credits {
  margin-left: var(--space);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer .credits .name {
  margin-top: var(--space);
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-content);
}

footer .credits .email {
  color: var(--text-color-content);
}


@media screen and (max-width: 540px) {
  .wrapper {
    padding: 0 var(--space-sm);
  }
  .video-with-description {
    flex-direction: column;
  }
  .youtube-video {
    width: 100%;
    height: 240px;
  }

  
  .video-description {
    margin-left: 0;
    margin-top: var(--space);
    width: 100%;
  }

  .beatbox-categories {
    grid-template-columns: 1fr;
  }

  footer .wrapper {
    display: block;
  }
  
  footer .credits {
    margin-left: 0;
    margin-top: var(--space-lg);
  }
}